*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html, * {
    font-family: 'Segoe UI Regular' !important ; 
}
body {
    background-color: #FFF;
}
.text--bold{
    font-weight: bolder;
}

.contain{
    margin: 10px 0 40px 0;
}
.logo{
    width: 100px;
    height: 125px;

}
.inf_btn--color{
    color: #8B1A1C;
    font-weight: bold;
    width: 150px;
    height: 40px;
    align-self: flex-end;
}
.textContainer{
    color: #8B1A1C;
    margin: 10%;
}
.btn_submit{
    background-color: #8B1A1C;
    color: #FFF;
    padding: 5px 30px;
    border-radius: 0 0 15px 0;
    max-width: 40%;
    align-self: flex-end;
}
